{% extends 'mood_tracker/base.html' %}
{% load i18n %}

{% block content %}
<div class="container" style="text-align: center;">
    <h1 style="font-size: 2.5em; margin-bottom: 20px;">{% translate "Welcome to Your Mood Hub" %} <span class="emoji">🌴</span></h1> 
    <p style="font-size: 1.2em; color: #7a624a;">{% translate "A peaceful space to understand your emotions and monitor your well-being." %} <span class="emoji">😌</span></p> 

    <div class="navigation-links" style="margin-top: 40px;">
        <a href="{% url 'face_recognition_page' %}" style="display: inline-block; margin: 10px; padding: 15px 25px; background-color: #a3c4bc; color: white; text-decoration: none; border-radius: 10px; font-weight: bold; transition: background-color 0.3s ease;">
            <span class="emoji">😊</span> {% translate "Explore Face Emotions" %}
        </a> 
        <a href="{% url 'speech_emotion_page' %}" style="display: inline-block; margin: 10px; padding: 15px 25px; background-color: #a3c4bc; color: white; text-decoration: none; border-radius: 10px; font-weight: bold; transition: background-color 0.3s ease;">
            <span class="emoji">🎤</span> {% translate "Understand Speech Emotion" %}
        </a>
        <a href="{% url 'mood_logging_page' %}" style="display: inline-block; margin: 10px; padding: 15px 25px; background-color: #a3c4bc; color: white; text-decoration: none; border-radius: 10px; font-weight: bold; transition: background-color 0.3s ease;">
            <span class="emoji">📝</span> {% translate "Log Your Daily Mood" %}
        </a>
        <a href="{% url 'analysis_page' %}" style="display: inline-block; margin: 10px; padding: 15px 25px; background-color: #a3c4bc; color: white; text-decoration: none; border-radius: 10px; font-weight: bold; transition: background-color 0.3s ease;">
            <span class="emoji">📊</span> {% translate "Analyze Mood Trends" %}
        </a>
    </div>
</div>
{% endblock %}